.main {
  height: 200vh;
  background-color: var(--quaternary-color);
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 3rem;
  height: 55px;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 9rem;
}

.main__content__about {
  display: flex;
  flex-direction: row;
  gap: 9em;
}

.main__content__about > h1 {
  color: var(--primary-color);
  line-height: 0px;
}

.main__content__about > div {
  background-color: var(--secondary-color);
  height: 5px;
  border-radius: 50px;
  width: 25vw;
}

.content__intro > p {
    color: var(--primary-color);
    font-weight: 300;
    text-align: left;
    margin-top: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 6.5em;
}

.content__infosessions {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content__infosessions > h2 {
    color: var(--primary-color);
    text-align: left;
    font-weight: 700;
}

.content__infosessions > p {
    color: var(--primary-color);
    font-weight: 300;
    text-align: left;
} 

.content__biginfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content__biginfo > h3 {
    color: var(--primary-color);
    text-align: left;
}

.content__biginfo > p {
    color: var(--primary-color);
    font-weight: 300;
    text-align: left;
}

.content__campustours {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content__campustours > h2 {
    color: var(--primary-color);
    text-align: left;
    font-weight: 700;
}

.content__campustours > p {
    color: var(--primary-color);
    font-weight: 300;
    text-align: left;
}

.carouselcontent {
  display: flex;
  flex-direction: row;
}

.content__carousel {
  margin-top: 5em;
}


.content__carouselimage {
  position: absolute;
  margin-top: 2.5em;
  z-index: -0;
  height: 12.5em;
  width: 31.25em;
}

.content__departments {
  display: flex;
  flex-direction: row;
  gap: 9em;
  margin-top: 5em;
}

.content__departments > h1 {
  color: var(--primary-color);
  line-height: 0px;
}

.content__departments > div {
  background-color: var(--secondary-color);
  height: 5px;
  border-radius: 50px;
  width: 25vw;
}

.content__departments__list {
  margin-top: 5em;
}

.content__departments__list > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--primary-color);
  font-weight: 300;
  font-size: 1em;
  gap: 1.5em;
}

.arrowcontain {
  bottom: 5em;
  right: 5em;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.arrowcontain:hover {
  cursor: pointer;
}

.arrowup {
  width: 2em;
  height: 3em;
}

.downar {
  width: 2em;
  height: 3em;
}

/**MEDIA QUERIES*/

/**DESKTOP*/
@media screen and (min-width: 1000px) {
}

/**TABLET*/
@media screen and (max-width: 1000px) and (min-width: 600px) {
  .main__content__about {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
}

/**MOBILE*/
@media screen and (max-width: 600px) {
  .header {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .main__content__about {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  
  .content__departments {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .content {
    margin-left: 1em;
    margin-right: 1em;
  }

  .content > div {
    text-align: center;
  }

  
.content__carouselimage {
  height: 10.5em;
  width: 24.5em;
  margin-left: 3.25em;
}
}
