.main {
    max-height: 100vh;
}

/** HEADER **/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    height: 55px;
}
/** CONTENT BOX**/

.contentbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 31vh;
    margin-left: 23vw;
}

.contentbox__header {
    color: var(--primary-color);
    text-align: left;
    font-size: 1.75em;
}

.contentbox__textbox > p {
    font-size: 1.05em;
    color: var(--primary-color);
    font-weight: 300;
}

.contentbox__buttonsbox > a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contentbox__buttonsbox > a > button {
    height: 2rem;
    width: 9rem;
    font-size: 1em;
    background-color: transparent;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    line-height: 0px;
}

.contentbox__buttonsbox > a > button:hover {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    transition: background-color .3s ease-in;
    cursor: pointer;
}


/*ARROWS*/

.arrow {
    position: absolute;
    right: 5.5vw;
    top: 75vh;
    cursor: pointer;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}



/**MEDIA QUERIES*/

/**DESKTOP*/
@media screen and (min-width: 1000px) {
    
}

/**TABLET*/
@media screen and (max-width: 1000px) and (min-width: 600px) {

    
}

/**MOBILE*/
@media screen and (max-width: 600px) {

    .contentbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 20vh;
        margin-left: 15vw;
        font-size: 0.75em;
        transition: font-size 0.25s ease-in
    }

    .header {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
 
}




